<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.ankin.deeplogtoolserver.mapper.ConfigMapper">


    <insert id="insertConfig" parameterType="cc.ankin.deeplogtoolserver.pojo.Config">
        insert into DeepLogTool.Config(id, logId, name, value)
            value (#{id}, #{logId}, #{name}, #{value});
    </insert>

    <select id="getConfigByLogId" resultType="cc.ankin.deeplogtoolserver.pojo.Config">
        select *
        from DeepLogTool.Config
        where logId = #{logId}
    </select>


</mapper>