<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.ankin.deeplogtoolserver.mapper.FileDetailMapper">


    <insert id="insertFileDetail" parameterType="cc.ankin.deeplogtoolserver.pojo.FileDetail">
        insert into DeepLogTool.FileDetail(id, filename, comment, logId)
            value (#{id}, #{filename}, #{comment}, #{logId});
    </insert>


</mapper>