<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.ankin.deeplogtoolserver.mapper.LogMapper">

    <select id="getLogListByUserId" resultType="cc.ankin.deeplogtoolserver.pojo.Log">
        select *
        from DeepLogTool.Log
        where userId = #{userId}
    </select>

    <insert id="insertLog" parameterType="cc.ankin.deeplogtoolserver.pojo.Log">
        insert into DeepLogTool.Log(id, userId, createTime, comments, done, title, task, dataset, epoch)
        value (#{id}, #{userId}, #{createTime}, #{comments}, #{done}, #{title}, #{task}, #{dataset}, #{epoch});
    </insert>

    <update id="updateLog" parameterType="cc.ankin.deeplogtoolserver.pojo.Log">
        update DeepLogTool.Log
        set userId=#{userId},
            createTime=#{createTime},
            comments=#{comments},
            done=#{done},
            title=#{title},
            task=#{task},
            dataset=#{dataset},
            epoch=#{epoch}

        where id = #{id};

    </update>

    <select id="getLogById" parameterType="String" resultType="cc.ankin.deeplogtoolserver.pojo.Log">
        select *
        from DeepLogTool.Log
        where id = #{id}
    </select>

    <select id="getLogListByUserIdDone" resultType="cc.ankin.deeplogtoolserver.pojo.Log">
        select *
        from DeepLogTool.Log
        where userId = #{userId}
        and done = 1
    </select>


</mapper>